swig_destin_pythonPYTHON_wrap.cxx
swig_destin_pythonPYTHON_wrap.h
_pydestin.so
pydestin.py
saved.som
saved.dst
*.pyc
experiment_runs/
saves/
ot.dst
+LO.dst
OutputBeliefs.txt
letter_exp.dst
OutputTestBeliefs.txt
OutputTrainBeliefs.txt
